body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.app {
  text-align: center;
}

.title {
  padding: 20px;
  background-color: #1e88e5;
  color: white;
  margin: 0;
}
